<div class="container-fluid text-center" >
  <div class="row">
    <div class="col-sm">
      <h3>Liste Compte des Amis</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID Account Friend</th>
          <th>Nom Account Friend</th>
          <th>Adresse Account Friend</th>
          <th>Téléphone Account Friend </th>
          <th>Editer</th>
          <th>Supprimer</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let accountFriend of accountFriendList">
          <td>{{ accountFriend.idAF }}</td>
          <td>{{ accountFriend.nameAccount }}</td>
          <td>{{ accountFriend.addressAccount }}</td>
          <td>{{ accountFriend.phoneAccount }}</td>
          <td>
            <a routerLink="/accountFriend/{{accountFriend.idAF}}">Modifier</a>
          </td>
          <td>
            <a routerLink="/accountFriend/{{accountFriend.idAF}}">Supprimer</a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="col-sm">
      <div class="container mb-3">
      <h4 class="h4 mb-2 font-weight-bold text-white text-center">Ajouter/Modifier un compte des Amis :</h4>
        <form>
          <div class="form-group">
            <label for="name">id Account</label>
            <input type="text" class="form-control-sm" id="price" placeholder="" > <!-- [(ngModel)]="editedItem.priceItem" name="priceItem" required -->
          </div>
          <div class="form-group">
            <label for="name">Nom Account</label>
            <input type="text" class="form-control-sm" id="name" placeholder="" ><!-- [(ngModel)]="editedItem.nameItem" name="nameItem" required -->
          </div>
          <div class="form-group">
            <label for="name">Adresse Account</label>
            <input type="text" class="form-control-sm" id="image" placeholder="" ><!-- [(ngModel)]="editedItem.picItem" name="picItem" required -->
          </div>
          <div class="form-group">
            <label for="name">Téléphone Account</label>
            <input type="text" class="form-control-sm" id="type" placeholder="" > <!-- [(ngModel)]="editedItem.typeItem" name="typeItem" required -->
          </div>
        </form>
      <button type="submit" class="btn btn-primary" (click)="onSave()" >Sauver</button>
    </div>

    </div>
  </div>

</div>

