<div class="container mb-3 text-center">
  <h4 class="h4 mb-2 pt-2 pb-2 font-weight-bold text-white text-center" *ngIf="!signUp">Inscription</h4>
  <h4 class="h4 mb-2 pt-2 pb-2 font-weight-bold text-white text-center" *ngIf="signUp">Ajouter/Modifier un compte</h4>
  <form [formGroup]="signUpForm" noValidate>
    <div class="form-group">
      <label for="firstnameFriend">Nom : </label>
      <input type="text" class="form-control-sm" id="firstnameFriend"
             formControlName="firstnameFriend"
             placeholder=""
             name="firstnameFriend" required><!--[(ngModel)]="editedFriend.firstnameFriend"-->
    </div>
    <div class="form-group">
      <label for="lastnameFriend">Prénom : </label>
      <input type="text" class="form-control-sm" id="lastnameFriend"
             formControlName="lastnameFriend"
             placeholder=""
             name="lastnameFriend" required><!--[(ngModel)]="editedFriend.lastnameFriend"-->

    </div>
    <div class="form-group">
      <label for="mailFriend">Mail : </label>
      <input type="select" class="form-control-sm" id="mailFriend"
             formControlName="mailFriend"
             placeholder=""
             name="mailFriend" required><!--[(ngModel)]="editedFriend.mailFriend"-->
      <span *ngIf="loginService.signUpError"> Cet Email est déjà utilisé</span>
    </div>
    <div class="form-group">
      <label for="passFriend">Mot de Passe : </label>
      <input type="password" class="form-control-sm" id="passFriend"
             formControlName="passFriend"
             placeholder=""
             name="passFriend" required> <!--[(ngModel)]="editedFriend.passFriend"-->
    </div>
  </form>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()" >Envoyer</button>
  <button type="submit" class="btn btn-primary"  *ngIf="signUp">Sauver</button>
</div>
