<div class="container-fluid text-center">
  <div class="row">

    <div class="col">
      <h3>List Item</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID Item</th>
          <th>Nom Item</th>
          <th>Image Item</th>
          <th>Type Item</th>
          <th>Prix Item</th>
          <th>Editer</th>
          <th>Supprimer</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of itemList | async">
          <td>{{ item.idItem }}</td>
          <td>{{ item.nameItem }}</td>
          <td><img src="{{ item.picItem }}" alt="{{ item.picItem }}"></td>
          <td>{{ item.typeItem }}</td>
          <td>{{ item.priceItem }} €</td>
          <td>
            <a routerLink="/item-form/{{item.idItem}}">Modifier</a>
          </td>
          <td>
            <a routerLink="/item-form/{{item.idItem}}">Supprimer</a>
          </td>
        </tr>
        </tbody>
      </table>

      <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>

    <div class="col">
      <app-item-form></app-item-form>
    </div>

  </div>
</div>
