.head {
  border: 5px solid;
  border-radius: 10px;
  background-image:url(/assets/images/nappe.jpg);
  height: 11rem;
  box-shadow: -10px 10px 5px #333;
  overflow: auto;
}

h1 {
  color: black;
  padding-top: 0.2rem;
}

img {
  height: 8.5rem;
}

span {

  font-weight: bold;
  text-shadow: 2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, -2px 0 0 white, 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white;
}
