  <div class="head container-fluid align-middle mt-2">
    <div class="row mt-2">
      <div class="col">
      </div>
      <div class="col-6">
        <div class="row">

          <div class="col">
          <a routerLink="/item"><img src="assets/images/logo-lapero.png" alt="apéro"/></a>
          </div>

          <div class="col">
            <h1 class="font-weight-bold mt-3" >Des Amis</h1>
            <span class="mt-3 mb-3">&copy; 2018-2019</span>
          </div>

          <div class="col">
            <a routerLink="/item"><img src="assets/images/logoSoft.png" alt="apéro"/></a>
          </div>

        </div>
      </div>
      <div class="col">
        <a class="signOut" routerLink="" (click)="loginService.signOut()">Déconnexion</a>
      </div>
    </div>
  </div>

