<div class="container mb-3 text-center">
  <h4 class="h4 mb-2 font-weight-bold text-white text-center" *ngIf="signUp">Inscription</h4>
  <h4 class="h4 mb-2 font-weight-bold text-white text-center" *ngIf="!signUp">Ajouter/Modifier un compte</h4>
  <for [formGroup]="signUpForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstnameFriend">Nom : </label>
      <input type="text" class="form-control-sm" id="firstnameFriend" placeholder="" [(ngModel)]="editedFriend.firstnameFriend" name="firstnameFriend">
    </div>
    <div class="form-group">
      <label for="lastnameFriend">Prénom : </label>
      <input type="text" class="form-control-sm" id="lastnameFriend" placeholder="" [(ngModel)]="editedFriend.lastnameFriend" name="lastnameFriend" required>
    </div>
    <div class="form-group">
      <label for="mailFriend">Mail : </label>
      <input type="select" class="form-control-sm" id="mailFriend" placeholder="" [(ngModel)]="editedFriend.mailFriend" name="mailFriend" required>
    </div>
    <div class="form-group">
      <label for="passFriend">Mot de Passe : </label>
      <input type="select" class="form-control-sm" id="passFriend" placeholder="" [(ngModel)]="editedFriend.passFriend" name="passFriend" required>
    </div>
  </form>
  <button type="submit" class="btn btn-primary" (click)="addFriend()" *ngIf="signUp">Envoyer</button>
  <button type="submit" class="btn btn-primary" (click)="onSave()" *ngIf="signUp">Sauver</button>
</div>
