<div class="my-items mt-2 mb-4">
  <h6>Mon Panier <img src="/assets/images/panier.png" style="width: 2rem;"/></h6>

  <table class="table table-striped" style="height: 35rem">
        <thead>
        <tr>
          <th>Article</th>
          <th>Prix </th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of availableBuckets">
          <td>??</td>
          <td>?? €</td>
          <td>
            <a (click)="onDelete()">X</a>
          </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
          <th>Total :</th>
          <th>Somme des Prix TODO</th>
        </tr>
        </tfoot>
  </table>

  <button type="submit" class="btn btn-primary align-items-end" (click)="onPay()" >payer</button>
</div>
