<div class="container ">
  <h4 class="h4 mb-2 font-weight-bold text-white text-center">Connexion</h4>
  <form class="form-signin">
    <label for="inputEmail" class="sr-only">Email </label>
    <input type="email" id="inputEmail" class="form-control mb-1" placeholder="email " required autofocus>
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="mot de pass" required>
    <div class="checkbox ml-3">
      <label>
        <input type="checkbox" value="remember-me"> Se souvenir de moi
      </label>
    </div>
  </form>
  <button class="btn btn-primary mb-2 ml-3" type="submit">Sign in</button>
</div>

