.container {
  font-size: 1rem;
  width: 25rem;
  border: 2px solid;
  border-radius: 10px;
  background-color: aliceblue;
  padding-left: 0rem;
  padding-right: 0rem;
  box-shadow: -5px 5px 5px #333;
  margin-bottom: 350px;
  margin-top: 200px;
}

.form-control {
  width: 23.5rem;
  font-size: 1rem;
  margin: 1rem;
}

.btn {
  background: linear-gradient(135deg,#264785 -10%,#1f3460 46%,#7db9e8);
  font-size: 15px;
  box-shadow: -5px 5px 5px #333;
  width: 10rem;
}

.h3 {
  background: linear-gradient(135deg,#264785 -10%,#1f3460 46%,#7db9e8);
}

