<div class="container-fluid text-center mb-3">
  <h2 class="font-weight-bold">Articles</h2>
  <div class="row">

    <div class="col-sm-2">
      <div class="my-items-form mb-3" *ngIf="!bucketCreated">
        <app-bucket-form></app-bucket-form>
      </div>
      <!--div class="list-group mb-3" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-all-list" data-toggle="list" href="#list-all" role="tab" aria-controls="all">Tout</a>
        <a class="list-group-item list-group-item-action" id="list-Alcool-list" data-toggle="list" href="#list-Alcool" role="tab" aria-controls="Alcool">Alcool</a>
        <a class="list-group-item list-group-item-action" id="list-Soft-list" data-toggle="list" href="#list-Soft" role="tab" aria-controls="Soft">Soft</a>
        <a class="list-group-item list-group-item-action" id="list-Aperitif-list" data-toggle="list" href="#list-Aperitif" role="tab" aria-controls="Aperitif">Apéritif</a>
        <a class="list-group-item list-group-item-action" id="list-Charcuterie-list" data-toggle="list" href="#list-Charcuterie" role="tab" aria-controls="Charcuterie">Charcuterie</a>
      </div-->
      <div class="my-items">
        <app-bucket></app-bucket>
      </div>
    </div>

    <div class="col">

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-all" role="tabpanel" aria-labelledby="list-all-list">
          <div class="row">
            <div class="col-sm" *ngFor="let item of availableItems" >
              <div class="card " style="width: 12rem;">
                <h5 class="card-title font-weight-bold">{{ item.nameItem }}</h5>
                <img class="card-img-top text-center" src="{{ julo1(item.picItem) }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-text">{{ item.typeItem.nameTypeItem }}</h5>
                  <h5 class="card-text mb-2">Prix : {{ item.priceItem }} €</h5>
                  <button class="btn btn-primary" (click)="onAdd(item.idItem)">Ajouter Article</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--div class="tab-pane fade" id="list-Alcool" role="tabpanel" aria-labelledby="list-Alcool-list">...</div>
        <div class="tab-pane fade" id="list-Soft" role="tabpanel" aria-labelledby="list-Soft-list">...</div>
        <div class="tab-pane fade" id="list-Aperitif" role="tabpanel" aria-labelledby="list-Aperitif-list">...</div>
        <div class="tab-pane fade" id="list-Charcuterie" role="tabpanel" aria-labelledby="list-Charcuterie-list">...</div-->
      </div>
    </div>

  </div>
</div>

