  <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-2">
    <a class="navbar-brand" href="#">Accueil /</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/item-detail">Gestion des Produits /</a>
        <a class="nav-item nav-link" routerLink="/friend">Amis /</a>
        <a class="nav-item nav-link" routerLink="/accountFriend">Compte des Amis /</a>
        <a class="nav-item nav-link" routerLink="/login"> Login </a>
      </div>
    </div>
    <div class="float-right">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control-sm mr-sm-2" type="search" placeholder="rechercher" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
    </div>
  </nav>

