<div class="container-fluid text-center" >
  <div class="row">
    <div class="col-sm">
      <h3>List Friend</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID Friend</th>
          <th>Nom Friend</th>
          <th>Prénom Friend</th>
          <th>Mail Friend</th>
          <th>Téléphone Friend</th>
          <th>Editer</th>
          <th>Supprimer</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let friend of friendList">
          <td>{{ friend.idFriend }}</td>
          <td>{{ friend.firstnameFriend }}</td>
          <td>{{ friend.lastnameFriend }}</td>
          <td>{{ friend.mailFriend }}</td>
          <td>{{ friend.phonefriend }}</td>
          <td>
            <a routerLink="/friend/{{friend.idFriend}}">Modifier</a>
          </td>
          <td>
            <a routerLink="/friend/{{friend.idFriend}}">Supprimer</a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="col-sm">
      <h3 id="newItem"  >Ajout d'un nouveau Friend:</h3>
      <h3 id="editItem" >Modifier un Friend :</h3>

      <form>
        <div class="form-group">
          <label for="name">Nom Friend</label>
          <input type="text" class="form-control" id="name" placeholder="" ><!-- [(ngModel)]="editedItem.nameItem" name="nameItem" required -->
        </div>
        <div class="form-group">
          <label for="name">Prénom Friend</label>
          <input type="text" class="form-control" id="image" placeholder="" ><!-- [(ngModel)]="editedItem.picItem" name="picItem" required -->
        </div>
        <div class="form-group">
          <label for="name">Mail Friend</label>
          <input type="select" class="form-control" id="type" placeholder="" > <!-- [(ngModel)]="editedItem.typeItem" name="typeItem" required -->
        </div>
        <div class="form-group">
          <label for="name">Télépphone Friend</label>
          <input type="text" class="form-control" id="price" placeholder="" > <!-- [(ngModel)]="editedItem.priceItem" name="priceItem" required -->
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSave()" >Sauver</button>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>

</div>

